{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block extra_head %}
<link href="{% static "lab/mapglyphs/mapglyphs.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1><span id="jumbo-innovation">Secondary</span><span id="jumbo-lab">Cities</span> <span id="jumbo-geonode">GeoNode</span></h1>
      <p>Building partnerships to create geospatial data on secondary cities</p>

    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
  <div class="hazard-box">
  <div class="container">
    <div class="row home-facets">
      <div>
        <h1>Cities</h1>
        <p>Discover innovative examples of open data and community empowerment</p>
    {% with facet_type='home' %}
     {% facets as facets %}

        <div class="col-md-3">
          <div><a href="/search/?hazard_type=earthquake" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-earthquake.png" %}"></img>
            <h3>Earthquake</h3>
            <h5 class="text-center">{{facets.hazard_earthquake|default:_("No")}} {% trans "datasets" %}</h5></a></div>
        </div>
        <div class="col-md-3">
          <div><a href="/search/?hazard_type=drought" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-drought.png" %}"></img>
            <h3>Drought</h3>
            <h5 class="text-center">{{facets.hazard_drought|default:_("No")}} {% trans "datasets" %}</h5></a></div>
        </div>
        <div class="col-md-3">
          <div><a href="/search/?hazard_type=flood" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-flood.png" %}"></img>
            <h3>Flood</h3>
            <h5 class="text-center">{{facets.hazard_flood|default:_("No")}} {% trans "datasets" %}</h5></a></div>
        </div>
        <div class="col-md-3">
          <div><a href="/search/?hazard_type=tsunami" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-tsunami.png" %}"></img>
            <h3>Tsunami</h3>
            <h5 class="text-center">{{facets.hazard_tsunami|default:_("No")}} {% trans "datasets" %}</h5></a>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <div><a href="/search/?hazard_type=storm_surge" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-storm-surge.png" %}"></img>
            <h3>Storm Surge</h3>
            <h5 class="text-center">{{facets.hazard_storm_surge|default:_("No")}} {% trans "datasets" %}</h5></a>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div><a href="/search/?hazard_type=strong_wind" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-strong-wind.png" %}"></img>
            <h3>Strong Wind</h3>
            <h5 class="text-center">{{facets.hazard_strong_wind|default:_("No")}} {% trans "datasets" %}</h5></a>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div><a href="/search/?hazard_type=volcanic_ashes" class="btn btn-default" role="button">
            <img src="{% static "geonode/img/hazard-icon-volcanic-ash.png" %}"></img>
            <h3>Volcanic Ashes</h3>
            <h5 class="text-center">{{facets.hazard_volcanic_ashes|default:_("No")}} {% trans "datasets" %}</h5></a>
          </div>
      </div>
      {% endwith %}
    </div>
  </div>
</div>

{% comment %}

    <div class="post-disaster-box">
      <div class="container">
        <div class="row home-facets">
          <div class="col-md-12">
          <h1>Post disaster</h1>
          <p> Geospatial datasets collected for Post-disaster damage and needs assessments by World Bank teams </p>
          <div class="col-md-4">
            <div><a href="/search/?title__icontains=nepal" class="btn btn-default" role="button"><i class="mg map-np mg-5x"></i>
            <h3>Nepal Earthquake</h3>
            <h5 class="text-center">2015-09-08</h5>
           </a></div>
          </div>
          <div class="col-md-4">
            <div><a href="/search/?title__icontains=haiyan" class="btn btn-default" role="button"><i class="mg map-ph mg-5x"></i>
            <h3>Philippines Typhoon</h3>
            <h5 class="text-center">2015-09-08</h5>
           </a></div>
          </div>
          <div class="col-md-4">
            <div><a href="/search/?title__icontains=malawi" class="btn btn-default" role="button"><i class="mg map-mw mg-5x"></i>
            <h3>Malawi Floods</h3>
            <h5 class="text-center">2015-09-08</h5>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endcomment %}
</div>

  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}



{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
  </script>

{% endblock extra_script %}
